.allProperties{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.propertiesInfo{
    display: flex;
    flex-direction: column;

}

.propertyButtons{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0px;
}